<!doctype html>
<html lang="en">
<title>HTML Demos</title>
<link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
<head>
</head>
<body>
  <div class='container'>
    <div>
      <h2 class="center top-header">HTML5 Course Demos</h2>
      <a class="glyphicon glyphicon-chevron-left" href="../index.html">Back</a>
    </div>
    <div>
      <h3 class="center top-header">Demos</h3>
    </div>
    <div id="main" class="no-margin">
      <ul>
        <li>
          Unit 1 - Laying Out a Page

          <ol>
            <li><a href="../Demos/Unit01-LayingOutAPage/01-html5-layout.html">HTML5 Layout</a></li>
            <li><a href="../Demos/Unit01-LayingOutAPage/02-html5-layout-styled.html">HTML5 Layout Styled</a></li>
            <li><a href="../Demos/Unit01-LayingOutAPage/03-table-element-api.html">HTML5 and JS Table API</a></li>
          </ol>

        </li>

        <li>
          Unit 2 - How We Got Here

          <ol>
            <li><a href="../Demos/Unit02-ToolsAndResources/01-htmlStructures.html">HTML Structures</a></li>
            <!--    <li><a href="../Demos/Unit02-ToolsAndResources/02-table-element-api.html">Table Element API</a></li> -->
          </ol>

        </li>
        <li>
          Unit 3 - Sections

          <ol>
            <li><a href="../Demos/Unit03-Sections/01-html5-course-outline.html">Section Tags</a></li>
            <li><a href="../Demos/Unit03-Sections/02-html5-course-outline-article.html">Article and Section Tags</a></li>
            <li><a href="../Demos/Unit03-Sections/03-html5-course-outline-article-nested.html">Course Outline Article Nested</a></li>
            <li><a href="../Demos/Unit03-Sections/04-html5-structural-tags.html">Structural Tags</a></li>
            <li><a href="../Demos/Unit03-Sections/05-fight-for-fruit.html">Outilining Large Scale</a></li>
            <li><a href="../Demos/Unit03-Sections/06-html5-outlining.html">Outilining</a></li>
          </ol>

        </li>
        <li>
          Unit 4 - Audio and Video
          <ol>

            <li><a href="../Demos/Unit04-AudioAndVideo/01-audio-useless.html">Audio Useless</a></li>
            <li><a href="../Demos/Unit04-AudioAndVideo/02-audio-controls.html">Audio Controls</a></li>
            <li><a href="../Demos/Unit04-AudioAndVideo/03-audio-ogg.html">Audio OGG</a></li>
            <li><a href="../Demos/Unit04-AudioAndVideo/04-audio-mp3.html">Audio mp3</a></li>
            <li><a href="../Demos/Unit04-AudioAndVideo/05-audio-multiple-sources.html">Audio Multiple Sources</a></li>
            <li><a href="../Demos/Unit04-AudioAndVideo/06-audio-autoplay.html">Audio Autoplay</a></li>
            <li><a href="../Demos/Unit04-AudioAndVideo/07-audio-loop.html">Audio Loop</a></li>
            <li><a href="../Demos/Unit04-AudioAndVideo/08-video-no-controls.html">Video No Controls</a></li>
            <li><a href="../Demos/Unit04-AudioAndVideo/09-video-non-supporting-browsers.html">Video Non-Supporting Browsers</a></li>
            <li><a href="../Demos/Unit04-AudioAndVideo/10-video-gracefully-degrade.html">Video Gracefully Degrade</a></li>
            <li><a href="../Demos/Unit04-AudioAndVideo/11-audio-javascript.html">Audio JavaScript</a></li>

          </ol>
        </li>
        <li>
          Unit 5 - Forms
          <ol>
            <i>Input Types</i>
            <li><a href="../Demos/Unit05-Forms/01-input-validity-support.html">Input Validity Support</a></li>
            <li><a href="../Demos/Unit05-Forms/02-input-validity.html">Input Validity</a></li>
            <li><a href="../Demos/Unit05-Forms/03-input-number-step.html">Input Number Step</a></li>
            <li><a href="../Demos/Unit05-Forms/04-input-range-output-dynamic.html">Input Range Output Dynamic</a></li>
            <li><a href="../Demos/Unit05-Forms/05-input-range-output.html">Input Range Output</a></li>
            <li><a href="../Demos/Unit05-Forms/06-input-types.html">Input Types</a></li>
            <i>Form Attributes</i>
            <li><a href="../Demos/Unit05-Forms/07-form-attributes.html">Form Attributes</a></li>
            <li><a href="../Demos/Unit05-Forms/08-form-validate-override.html">Novalidate</a></li>
            <i>Form Field Attributes</i>
            <li><a href="../Demos/Unit05-Forms/09-required.html">Required</a></li>
            <li><a href="../Demos/Unit05-Forms/10-placeholder.html">Placeholder</a></li>
            <li><a href="../Demos/Unit05-Forms/11-autofocus.html">Autofocus</a></li>
            <li><a href="../Demos/Unit05-Forms/12-chrome-autofocus-bug.html">Chrome Autofocus Bug</a></li>
            <li><a href="../Demos/Unit05-Forms/13-pattern.html">Pattern</a></li>
            <i>Form Elements</i>
            <li><a href="../Demos/Unit05-Forms/14-progress.html">Progress</a></li>
            <li><a href="../Demos/Unit05-Forms/15-datalist.html">Datalist</a></li>
            <i>All</i>
            <li><a href="../Demos/Unit05-Forms/16-all-in-one.html">All in One</a></li>

          </ol>
        </li>
        <li>
          <div>
            Unit 6 - JavaScript
            <ol>
              <li><a href="../Demos/Unit06-JavaScript/01-variables.html">Variables</a></li>
              <li><a href="../Demos/Unit06-JavaScript/02-variablesFunctions.html">Variables Functions</a></li>
              <li><a href="../Demos/Unit06-JavaScript/03-variablesObjects.html">Variables Objects</a></li>
              <li><a href="../Demos/Unit06-JavaScript/04-variablesArrays.html">Variables Arrays</a></li>
              <li><a href="../Demos/Unit06-JavaScript/05-variablesEquality.html">Variables Equality</a></li>
              <li><a href="../Demos/Unit06-JavaScript/06-variablesTypeOf.html">Variables Type Of</a></li>
              <li><a href="../Demos/Unit06-JavaScript/07-variablesPassing.html">Variables Passing</a></li>
              <li><a href="../Demos/Unit06-JavaScript/08-variablesUnderstandingThis.html">Variables Understanding This</a></li>
              <li><a href="../Demos/Unit06-JavaScript/09-variablesOoFunctions.html">Variables Object Oriented Functions</a></li>
              <li><a href="../Demos/Unit06-JavaScript/10-variablesOperations.html">Variables Operations</a></li>
              <li><a href="../Demos/Unit06-JavaScript/11-scopeIntro.html">Scope Intro</a></li>
              <li><a href="../Demos/Unit06-JavaScript/12-scopeClosureIntro.html">Scope Closure Intro</a></li>
              <li><a href="../Demos/Unit06-JavaScript/13-scopeClosureAdvanced.html">Scope Closure Advanced</a></li>
            </ol>
          </div>
        </li>

        <li>
          <div>
            Unit 7 - Canvas
            <ol>
              <li><a href="../Demos/Unit07-Canvas/01-path-simple.html">Path Simple</a></li>
              <li><a href="../Demos/Unit07-Canvas/02-path-multiple-subpaths.html">Path Multiple Subpaths</a></li>
              <li><a href="../Demos/Unit07-Canvas/03-path-closepath.html">Path Closepath</a></li>
              <li><a href="../Demos/Unit07-Canvas/04-path-disconnected.html">Path Disconnected</a></li>
              <li><a href="../Demos/Unit07-Canvas/05-path-fill.html">Path Fill</a></li>
              <li><a href="../Demos/Unit07-Canvas/06-path-fill-stroke.html">Path Fill Stroke</a></li>
              <li><a href="../Demos/Unit07-Canvas/07-transparency.html">Transparency</a></li>
              <li><a href="../Demos/Unit07-Canvas/08-rect.html">Rectangle</a></li>
              <li><a href="../Demos/Unit07-Canvas/09-arc-explained.html">Arc Explained</a></li>
              <li><a href="../Demos/Unit07-Canvas/10-arc-degrees.html">Arc Degrees</a></li>
              <li><a href="../Demos/Unit07-Canvas/11-arc-radians.html">Arc Radians</a></li>
              <li><a href="../Demos/Unit07-Canvas/12-quadratic.html">Quadratic</a></li>
              <li><a href="../Demos/Unit07-Canvas/13-bezier.html">Bezier</a></li>
              <li><a href="../Demos/Unit07-Canvas/14-bezier-whatg-example.html">Bezier Animated</a></li>
              <li><a href="../Demos/Unit07-Canvas/15-all-in-one.html">All in One</a></li>
              <li><a href="../Demos/Unit07-Canvas/16-image-basic.html">Image Basic</a></li>
              <li><a href="../Demos/Unit07-Canvas/17-image-sprite.html">Image Sprite</a></li>
              <li><a href="../Demos/Unit07-Canvas/18-text.html">Text</a></li>
              <br>
              <!-- No explanation for these (extra demos) -->
              <i>Extras:</i>
              <li><a href="../Demos/Unit07-Canvas/quidditch.html">Quidditch</a></li>
              <li><a href="../Demos/Unit07-Canvas/rect-spinning.html">Rect Spinning</a></li>
              <li><a href="../Demos/Unit07-Canvas/test-bed.html">Test Bed</a></li>
              <li><a href="../Demos/Unit07-Canvas/webuwheel.html">WebUWheel</a></li>

            </ol>
          </div>
        </li>
        <li>
          <div>
            Unit 8 - APIs
            <ol>

              <li><a href="../Demos/Unit08-APIs/01-offline.html">Offline</a></li>
              <li><a href="../Demos/Unit08-APIs/02-dragdrop.html">Drag and Drop</a></li>
              <li><a href="../Demos/Unit08-APIs/03-geolocation.html">Geolocation</a></li>
              <li><a href="../Demos/Unit08-APIs/04-weather.html">Weather</a></li>

            </ol>
          </div>
        </li>
        <li>
          <div>
            Unit 9 - CSS3
            <ol>
              <i>Selectors</i>
              <li><a href="../Demos/Unit09-CSS3/selectors-attribute-matching.html">Selectors Attribute Matching</a></li>
              <li><a href="../Demos/Unit09-CSS3/selectors-nth-child.html">Selectors nth Child</a></li>
              <li><a href="../Demos/Unit09-CSS3/selectors-nth-of-type.html">Selectors nth of Type</a></li>
              <li><a href="../Demos/Unit09-CSS3/selectors-first-last-of-type.html">Selectors First Last of Type</a></li>
              <li><a href="../Demos/Unit09-CSS3/selectors-only-child.html">Selectors Only Child</a></li>
              <li><a href="../Demos/Unit09-CSS3/selectors-only-of-type.html">Selectors Only of Type</a></li>
              <li><a href="../Demos/Unit09-CSS3/selectors-target.html">Selectors Target</a></li>
              <li><a href="../Demos/Unit09-CSS3/selectors-element-states.html">Selectors Element States</a></li>
              <li><a href="../Demos/Unit09-CSS3/selectors-fragment.html">Selectors Fragment</a></li>
              <li><a href="../Demos/Unit09-CSS3/selectors-negation.html">Selectors Negation</a></li>
              <li><a href="../Demos/Unit09-CSS3/selectors-general-sibling.html">Selectors General Siblings</a></li>
              <i>Media Queries</i>
              <li><a href="../Demos/Unit09-CSS3/media-queries-orientation.html">Media Queries Orientation</a></li>
              <li><a href="../Demos/Unit09-CSS3/media-queries-viewport-dimensions.html">Media Queries Viewport Dimensions</a></li>
              <li><a href="../Demos/Unit09-CSS3/media-queries-ie-only.html">Media Queries IE only</a></li>
              <i>Gradients</i>
              <li><a href="../Demos/Unit09-CSS3/linear-gradient-keywords.html">Linear Gradient Keywords</a></li>
              <li><a href="../Demos/Unit09-CSS3/linear-gradient-degrees.html">Linear Gradient Degrees</a></li>
              <li><a href="../Demos/Unit09-CSS3/radial-gradient.html">Radial Gradient</a></li>
              <i>Transforms</i>
              <li><a href="../Demos/Unit09-CSS3/2DTransforms.html">2D Transforms</a></li>
              <li><a href="../Demos/Unit09-CSS3/3DTransforms-Perspective.html">3D Transforms Perspective</a></li>
              <li><a href="../Demos/Unit09-CSS3/3DTransforms-Skew.html">3D Transforms Skew</a></li>
              <li><a href="../Demos/Unit09-CSS3/3DTransforms-Rotate3d.html">3D Transforms Rotate 3d</a></li>
              <li><a href="../Demos/Unit09-CSS3/3DTransforms-Translate.html">3D Transforms Translate</a></li>
              <li><a href="../Demos/Unit09-CSS3/3DTransforms-Scale.html">3D Transforms Scale</a></li>
              <i>Transitions</i>
              <li><a href="../Demos/Unit09-CSS3/transitions.html">Transitions</a></li>
              <li><a href="../Demos/Unit09-CSS3/transitions-multiple.html">Transitions Multiple</a></li>
              <li><a href="../Demos/Unit09-CSS3/transitions-states.html">Transitions States</a></li>
              <i>Web Fonts</i>
              <li><a href="../Demos/Unit09-CSS3/font-face.html">Font Face</a></li>
              <li><a href="../Demos/Unit09-CSS3/google-web-fonts.html">Google Web Fonts</a></li>

              <br>

              <li><a href="../Demos/Unit09-CSS3/selectors-pseudo-selectors.html">Selectors Pseudo Selectors</a></li>
              <li><a href="../Demos/Unit09-CSS3/selectors-target.html">Selectors Target</a></li>



            </ol>
          </div>
        </li>
        <li>
          Unit 10 - Storage
          <ol>
            <li><a href="../Demos/Unit10-Storage/01-local-storage.html">Local Storage</a></li>
            <li><a href="../Demos/Unit10-Storage/02-session-storage.html">Session Storage</a></li>
            <li><a href="../Demos/Unit10-Storage/03-questions.html">Questions</a></li>
          </ol>
        </li>
        <li>
          Unit 11 - Bootstrap
          <ol>
            <li><a href="../Demos/Unit11-Bootstrap/basic-template.html">Basic Template</a></li>
            <li><a href="../Demos/Unit11-Bootstrap/basic-navbar.html">Basic Navbar</a></li>
            <li><a href="../Demos/Unit11-Bootstrap/basic-grid-settings.html">Basic Grid Settings</a></li>
          </ol>
        </li>

        <li>
          <div>
            Unit 12 - Extra Topics
            <ol>
              <li><a href="../Demos/Unit12-ExtraTopics/CSS3Selectors.html">CSS3 Selectors</a></li>
              <li><a href="../Demos/Unit12-ExtraTopics/CSS3WebFonts.html">CSS Web Fonts</a></li>
              <li><a href="../Demos/Unit12-ExtraTopics/CSS3Transitions.html">CSS Transitions</a></li>
            </ol>
          </div>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>
