<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <meta charset="UTF-8">
  <title>HTML Exercises</title>
</head>
<body>
  <div class='container'>
    <div>
      <h2 class="center top-header">HTML5 Course Exercises</h2>
      <a class="glyphicon glyphicon-chevron-left" href="../index.html">Back</a>
    </div>
    <div>
      <h3 class="center top-header">Exercises</h3>
    </div>
    <div id="main" class="no-margin">
      <ol>
        <li>
          Unit01 - Laying Out a Page
          <ul>
            <li><a href="../Exercises/Unit01-LayingOutAPage/html4-layout.html">HTML4 Layout</a></li>
          </ul>
        </li>
        <li>
          Unit02 - How We Got Here
          <ul>
            <li><a href="../Exercises/Unit02-HowWeGotHere/html5-layout.html">HTML5 Layout</a></li>
            <li><a href="../Exercises/Unit02-HowWeGotHere/html5-outlining.html">HTML5 Layout Outlining</a></li>
          </ul>
        </li>
        <li>
          Unit03 - Sections
          <ul>
            <li><a href="../Exercises/Unit03-Sections/html5-layout.html">HTML5 Layout</a></li>
            <li><a href="../Exercises/Unit03-Sections/html5-outlining.html">HTML5 Layout Outlining</a></li>
          </ul>
        </li>
        <li>
          Unit04 - Audio and Video
          <ul>
            <li><a href="../Exercises/Unit04-AudioAndVideo/audio-javascript.html">HTML5 Layout</a></li>
          </ul>
        </li>
        <li>
          Unit05 - Forms
          <ul>
            <li><a href="../Exercises/Unit05-Forms/quiz.html">Quiz</a></li>
          </ul>
        </li>
        <li>
          Unit06 - Storage
          <ul>
          <li><a href="../Exercises/Unit06-Storage/saving-quiz.html">Saving Quiz</a></li>
          </ul>
        </li>
      </ol>
    </div>
  </div>

</body>
</html>

