<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <meta charset="UTF-8">
  <title>HTML Solutions</title>
</head>
<body>
  <div class='container'>
    <div>
      <h2 class="center top-header">HTML5 Course Solutions</h2>
      <a class="glyphicon glyphicon-chevron-left" href="../index.html">Back</a>
    </div>
    <div>
      <h3 class="center top-header">Solutions</h3>
    </div>
    <div id="main" class="no-margin">
      <ol>
        <li>
          Unit01 - Laying Out a Page
          <ul>
            <li><a href="../Solutions/Unit01-LayingOutAPage/html5-layout.html">HTML5 Layout</a></li>
            <li><a href="../Solutions/Unit01-LayingOutAPage/html5-layout-challenge.html">HTML5 Layout Challenge</a></li>
          </ul>
        </li>
        <li>
          Unit03 - Sections
          <ul>
            <li><a href="../Solutions/Unit03-Sections/html5-layout.html">HTML5 Layout</a></li>
            <li><a href="../Solutions/Unit03-Sections/fight-for-fruit.html">Fight for Fruit</a></li>
          </ul>
        </li>
        <li>
          Unit04 - Audio And Video
          <ul>
            <li><a href="../Solutions/Unit04-AudioAndVideo/audio-javascript.html">Audio Javascript</a></li>
            <li><a href="../Solutions/Unit04-AudioAndVideo/audio-javascript-challenge.html">Audio Javascript Challenge</a></li>
            <li><a href="../Solutions/Unit04-AudioAndVideo/video-multiple-sources.html">Video Multiple Sources</a></li>
          </ul>
        </li>
      </ol>
    </div>
  </div>

</body>
</html>

