<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <meta charset="UTF-8">
  <title>HTML Solutions</title>
</head>
<body>
  <div class='container'>
    <a href="">HELLo</a>
    <div>
      <h2 class="center top-header">HTML5 Course Solutions</h2>
      <a class="glyphicon glyphicon-chevron-left" href="../index.html">Back</a>
    </div>
    <div>
      <h3 class="center top-header">Solutions</h3>
    </div>
    <div id="main" class="no-margin">
      <ol>

        <li>
          Unit01 - Laying Out a Page
          <ol type="a">
            <li><a href="../Solutions/Unit01-LayingOutAPage/a-html5-layout.html">HTML5 Layout</a></li>
            <li><a href="../Solutions/Unit01-LayingOutAPage/b-html5-layout-challenge.html">Layout Challenge</a></li>
          </ol>

        </li>
        <li>
          Unit02 - How We Got Here
          <ol type="a">
          <li><a href="../Solutions/Unit02-ToolsAndResources/dom-exercise.html">Layout Challenge</a></li>
          </ol>
        </li>
        <li>
          Unit03 - Sections
          <ol type="a">

            <li><a href="../Solutions/Unit03-Sections/a-html5-layout.html">HTML5 Layout</a></li>
            <li>
            <a href="../Solutions/Unit03-Sections/b-dom-tree-outline.txt">DOM Tree Outline Txt</a> |
            <a href="../Solutions/Unit03-Sections/b-dom-tree-outline.html">DOM Tree Outline HTML</a></li>

          </ol>
        </li>
        <li>
          Unit04 - Audio And Video
          <ol type="a">
            <li><a href="../Solutions/Unit04-AudioAndVideo/video-multiple-sources.html">Video Multiple Sources</a></li>
            <li><a href="../Solutions/Unit04-AudioAndVideo/audio-javascript.html">Audio Javascript</a></li>
            <li><a href="../Solutions/Unit04-AudioAndVideo/audio-javascript-challenge.html">Audio Javascript Challenge</a></li>
          </ol>
        </li>

        <li>
          Unit05 - Forms
          <ol type="a">
            <li><a href="../Solutions/Unit05-Forms/quiz.html">Quiz</a></li>
            <li><a href="../Solutions/Unit05-Forms/quiz_challenge.html">Quiz Challenge</a></li>
          </ol>
        </li>

        <li>
          Unit06 - JavaScript
          <ol type="a">
           <li><a href="../Solutions/Unit06-JavaScript/hello-world.html">Hello World</a></li>
           <li><a href="../Solutions/Unit06-JavaScript/film.html">Films</a></li>
           <li><a href="../Solutions/Unit06-JavaScript/film-challenge.html">Film Challenge</a></li>
         </ol>
       </li>

       <li>
        Unit07 - Canvas
        <ol type="a">
          <li><a href="../Solutions/Unit07-Canvas/sailboat.html">Sailboat</a></li>
          <li><a href="../Solutions/Unit07-Canvas/sailboat-challenge.html">Sailboat Challenge</a></li>
          <li><a href="../Solutions/Unit07-Canvas/snowman.html">Snowman</a></li>
          <li><a href="../Solutions/Unit07-Canvas/snowman-challenge.html">Snowman Challenge</a></li>
          <li><a href="../Solutions/Unit07-Canvas/south-america.html">South America</a></li>
        </ol>
      </li>

      <li>
        Unit08 - APIs
        <ol type="a">
          <li><a href="../Solutions/Unit08-APIs/weather.html">Weather API</a></li>
        </ol>
      </li>

      <li>
        Unit09 - CSS3
        <ol type="a">
          <li><a href="../Solutions/Unit09-CSS3/html5-css3.html">HTML5 and CSS3</a></li>
        </ol>
      </li>

      <li>
        Unit10 - Storage
        <ol type="a">
          <li><a href="../Solutions/Unit10-Storage/saving-quiz.html">Saving Quiz</a></li>
          <li><a href="../Solutions/Unit10-Storage/saving-quiz-challenge.html">Saving Quiz Challenge</a></li>
        </ol>
      </li>

      <li>
        Unit11 - Bootstrap
        <ol type="a">
           <li><a href="../Solutions/Unit11-Bootstrap/saving-quiz.html">Saving Quiz</a></li>
        </ol>
      </li>

    </ol>
  </div>
</div>

</body>
</html>

