#multiplierXO {
  background-color: orange;
  margin-left: auto;
  margin-right: auto;
}

#multiplierYO {
  background-color: yellow;
  margin-left: auto;
  margin-right: auto;
}

#multiplierZO {
  background-color: lightgray;
  margin-left: auto;
  margin-right: auto;
}

#rotateDegO {
  background-color: darkgray;
  margin-left: auto;
  margin-right: auto;
}

#childBox {
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
}