<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <meta charset="UTF-8">
  <title>HTML Exercises</title>
</head>

<body>
  <div class="container">
    <div>
      <h2 class="center top-header">HTML5 Course Exercises</h2>
      <a class="glyphicon glyphicon-chevron-left" href="../index.html">Back</a>
    </div>
    <div>
      <h3 class="center top-header">Exercises</h3>
    </div>
    <div id="main" class="no-margin">
      <ol>
        <li>
          Unit01 - Intro to HTML5
        </li>
        <li>
          Unit02 - Tools and Resources
          <ul>
            <li><a href="http://www.google.com">Logo Hijack</a></li>
            <li><a href="../Exercises/Unit02-ToolsAndResources/dom-exercise.html">Dom Tree</a></li>
          </ul>
        </li>
        <li>
          Unit03 - Sections
          <ul>
            <li><a href="../Exercises/Unit03-Sections/html5-layout-styled.html">HTML5 Layout</a></li>
          </ul>
        </li>
        <li>
          Unit04 - Audio and Video
          <ul>
            <li><a href="../Exercises/Unit04-AudioAndVideo/audio-javascript.html">Audio JavaScript</a></li>
          </ul>
        </li>
        <li>
          Unit05 - Forms
          <ul>
            <li><a href="../Exercises/Unit05-Forms/quiz.html">Quiz</a></li>
          </ul>
        </li>
        <li> Unit06 - JavaScript
          <ul>
            <li>
              <a href="../Exercises/Unit06-JavaScript/hello-world.html">Hello World</a>
            </li>
            <li>
              <a href="../Exercises/Unit06-JavaScript/film.html">Film</a>
            </li>
          </ul>
        </li>
        <li>
          Unit07 - Canvas
          <ul>
            <li><a href="../Exercises/Unit07-Canvas/sailboat.html">Sailboat</a></li>
            <li><a href="../Exercises/Unit07-Canvas/snowman.html">Snowman</a></li>
            <li><a href="../Exercises/Unit07-Canvas/south-america.html">South America</a></li>
          </ul>
        </li>
        <li>
          Unit08 - APIs
          <ul>
          </ul>
        </li>
        <li>
          Unit09 - CSS3
          <ul>
            <li><a href="../Exercises/Unit09-CSS3/html5-css3.html">CSS3</a></li>
          </ul>
        </li>
        <li>
          Unit10 - Storage
          <ul>
            <li><a href="../Exercises/Unit10-Storage/saving-quiz.html">Saving Quiz</a></li>
          </ul>
        </li>
        <li>
          Unit11 - Bootstrap
          <ul>
            <li><a href="../Exercises/Unit11-Bootstrap/saving-quiz-challenge.html">Saving Quiz Challenge Bootstrap</a></li>
          </ul>
        </li>
      </ol>
    </div>
  </div>

</body>

</html>