#mono {
  font-family: 'Monoton', cursive;
  font-size: 40px;
}

#ha {
  font-family: 'Homemade Apple', cursive;
  font-size: 40px;
}

#vt {
  font-family: 'VT323';
  font-size: 40px;
}

#rb {
  font-family: 'Reenie Beanie', cursive;
  font-size: 50px;
}

#ks {
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
}