h1,
h2,
h3 {
  background-color: #eee;
}

#logo {
  width: 80px;
  float: right;
  content: url("../images/logo.png");
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: large;
  margin-left: 50px;
}

aside {
  font-size: medium;
  margin-left: 100px;
}

ul,
p {
  background-color: #FFE4B9;
}