body {
    font-family: tahoma;
}

header {
    display: block;
    padding: 5px;
    height: 80px;
    margin: auto;
}

header hgroup {
    display: block;
    float: left;
}

header hgroup h1 {
    font-size: x-large;
    margin-bottom: 5px;
    margin-top: 10px;
}

header hgroup h2 {
    font-size: large;
    margin: 0px;
}

header #logo {
    float: right;
    width: 77px;
}

nav#mainnav {
    clear: both;
    display: block;
    padding: 10px;
    margin: 10px auto;
    background-color: cornflowerblue;
}

nav#mainnav a {
    color: white;
}

nav#mainnav ul {
    margin: 0px;
    padding: 0px;
}

nav#mainnav li {
    display: inline;
    margin-right: 10px;
    padding-right: 10px;
}

#container {
    margin: auto;
}

aside h2 {
    margin-bottom: 0px;
    font-size: large;
    color: #006;
}

aside {
    width: 250px;
    float: left;
    margin-bottom: 5px;
}

aside ul {
    margin: 0px;
    padding: 0px;
}

aside li {
    display: block;
    width: 50%;
    height: 100%;
    border: 1px solid white;
    padding: 2px;
    background-color: cornflowerblue;
}

aside li:hover {
    background-color: #fff;
}

aside a {
    text-decoration: none;
    display: block;
    width: 100%;
}

li a{
    color: white;
}

#content {
    float: left;
    padding: 10px;
    border-left: 2px solid cornflowerblue;
}

footer {
    display: block;
    clear: both;
    border-top: 1px solid #006;
    margin: 5px auto;
    font-style: italic;
    text-align: right;
}

a:hover {
    color: #f60;
}
