/* styles for portrait mode  */

@media screen and (orientation: portrait) {
  #landscape {
    display: none;
  }
  #mobile {
    display: none;
  }
}


/* styles for landscape mode  */

@media screen and (orientation: landscape) {
  #portrait {
    display: none;
  }
  #mobile {
    display: none;
  }
}


/* mobile views */

@media screen and (max-width: 480px) {
  #portrait {
    display: none;
  }
  #landscape {
    display: none;
  }
  #mobile {
    display: block;
  }
}

code {
  display: none;
}