#skewXO {
  background-color: orange;
  margin-left: auto;
  margin-right: auto;
}
#skewYO {
  background-color: yellow;
  margin-left: auto;
  margin-right: auto;
}

#childBox {
 -webkit-transform: skew(5deg, 5deg);
}