#translateXO {
  background-color: orange;
  margin-left: auto;
  margin-right: auto;
}

#translateYO {
  background-color: yellow;
  margin-left: auto;
  margin-right: auto;
}

#translateZO {
  background-color: lightgray;
  margin-left: auto;
  margin-right: auto;
}

#childBox {
  -webkit-transform: translateX(10px) translateY(10px) translateZ(10px);
}