  #rotateXO {
    background-color: orange;
  }
  #rotateYO {
    background-color: yellow;
  }
  #rotateZO {
    background-color: lightgray;
  }

  #childBox {
   -webkit-transform: rotateX(10deg) rotateY(10deg) rotateZ(10deg);
 }